<div id="create-event" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="create-event-label" aria-hidden="true">
  <div class ="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Create New Event</h4>
      </div>
      <div class="modal-body">
        <p>Stuff</p>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
