<h1> Albums </h1>


<div id="item">
  <div id="album">
    <a href="http://placekitten.com/250/250"data-gallery="one"><img src="http://placekitten.com/250/250"></a>
    <a href="http://placekitten.com/250/300"data-gallery="one">
    <a href="http://placekitten.com/350/400"data-gallery="one">
    <a href="http://placekitten.com/250/500"data-gallery="one">



    <a href="http://placecreature.com/owl/250/250"data-gallery="two"><img src="http://placecreature.com/owl/250/250"></a>
    <a href="http://placecreature.com/300/300"data-gallery="two">
    <a href="http://placecreature.com/400/300"data-gallery="two">
    <a href="http://placecreature.com/500/300"data-gallery="two">



    <a href="http://placecreature.com/fox/250/250"data-gallery="three"><img src="http://placecreature.com/fox/250/250"></a>
    <a href="http://placecreature.com/450/250"data-gallery="three">
    <a href="http://placecreature.com/500/250"data-gallery="three">
    <a href="http://placecreature.com/300/500"data-gallery="three">


    <a href="http://placecreature.com/bear/250/250"data-gallery="four"><img src="http://placecreature.com/bear/250/250"></a>
    <a href="http://placecreature.com/200/200"data-gallery="four">
    <a href="http://placecreature.com/300/300"data-gallery="four">
    <a href="http://placecreature.com/400/400"data-gallery="four">
  </div>
</div>
